@model IEnumerable<ThunderGym.Models.Class>

@{
    ViewData["Title"] = "Index";
}

<section class="section__container class__container" id="class">
    <h2 class="section__header">Our Classes</h2>
    <p class="section__description">
        Discover a diverse range of exhilarating classes at our gym designed to
        cater to all fitness levels and interests. Whether you're a seasoned
        athlete or just starting your fitness journey, our classes offer
        something for everyone.
    </p>
    <div class="class__grid">
        <div class="class__card">
            <img src="assets/class-1.jpg" alt="class" />
            <div class="class__content">
                <h4>Strength Training</h4>
                <p>Resistance Training</p>
            </div>
        </div>
        <div class="class__card">
            <img src="assets/class-2.jpg" alt="class" />
            <div class="class__content">
                <h4>Fighting</h4>
                <p>Kick Boxing & Muay Thai</p>
            </div>
        </div>
        <div class="class__card">
            <img src="assets/class-3.jpg" alt="class" />
            <div class="class__content">
                <h4>HIIT</h4>
                <p>Circuit Training</p>
            </div>
        </div>
        <div class="class__card">
            <img src="assets/class-4.jpg" alt="class" />
            <div class="class__content">
                <h4>Yoga</h4>
                <p>Yoga and Mindfulness</p>
            </div>
        </div>
        <div class="class__card">
            <img src="assets/class-5.jpg" alt="class" />
            <div class="class__content">
                <h4>Group Kinetotherapy</h4>
                <p>Kinetotherapy & Medical massage</p>
            </div>
        </div>
        <div class="class__card">
            <img src="assets/class-6.jpg" alt="class" />
            <div class="class__content">
                <h4>Group Fitness</h4>
                <p>Kangoo Jumps</p>
            </div>
        </div>
        <div class="class__card">
            <img src="assets/class-7.jpg" alt="class" />
            <div class="class__content">
                <h4>Group Fitness</h4>
                <p>Aerobics</p>
            </div>
        </div>
        <div class="class__card">
            <img src="assets/class-8.jpg" alt="class" />
            <div class="class__content">
                <h4>Cross fit</h4>
            </div>
        </div>
    </div>
</section>
@if ((User.IsInRole("Admin")) || (User.IsInRole("Trainer")))
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TrainerId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClassName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Schedule)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TrainerId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClassName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Schedule)
            </td>
                @if ((User.IsInRole("Admin")) || (User.IsInRole("Trainer")))
            {
            <td>
                <a asp-action="Edit" asp-route-id="@item.ClassId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ClassId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ClassId">Delete</a>
            </td>
            }
        </tr>
}
    </tbody>
</table>
